* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*  Navigacijski bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(90deg, rgb(247, 255, 239) 0%, rgb(248, 186, 115) 35%, rgb(248, 152, 7) 50%);
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 200px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
}

.nav-links li:hover {
    background-color:rgb(247, 255, 239);
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1800px) {
    .nav-links {
        width: 40%;
    }
}

@media screen and (max-width: 1300px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width: 1000px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        overflow-x: hidden!important;
        position: relative;
    }
    .nav-links {
        width: 50%;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(248, 152, 7);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }
    .nav-links li {
        opacity: 0;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    }
    .nav-links li:hover {
        background-color:rgb(247, 255, 239);
    }
    .burger {
        display: block;
    }
    .logo img {
        width: 150px;
    }

    .slideshow-container {
        max-width: 100%!important;
    }

    .mySlides img {
        height: 200px!important;
    }
    .text {
        color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        padding: 8px 12px;
        position: absolute;
        bottom: 90px!important;
        left: 40px!important;
        height: 90px!important;
    }
    .text-naslov {
        font-size: 14px!important;
    }
    .text-sadržaj {
        font-size: 10px!important;
    }

    .text a {
        font-size: 10px!important;
    }
    .poslovi {
        width: 100%!important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .lijevo1 {
        grid-column: 1 / 3;
        padding: 10px;
    }
    .lijevo2 {
        grid-column: 1 / 3;
    }
    .desno1 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .desno2 {
        grid-column: 1 / 3;
        padding: 10px;
    }
}

@media screen and (min-width: 1200px) {
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Slideshow container */

.slideshow-container {
    max-width: 70%;
    position: relative;
    margin: auto;
}
  
  
  .mySlides {
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .text {
    opacity: 0.7;
    background-color: #d3cfcf;
    /*color: #f2f2f2;*/
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 450px;
    left: 100px;
    height: 120px;
    border-radius: 5px;
  }

  .text-naslov {
    font-size: 26px;
    -webkit-animation-name: naslov;
    -webkit-animation-duration: 1.5s;
    animation-name: naslov;
    animation-duration: 1.5s;
  }

  .text-sadržaj {
    -webkit-animation-name: naslov;
    -webkit-animation-duration: 1.5s;
    animation-name: naslov;
    animation-duration: 1.5s;
  }
  .text hr {
    background-color: rgb(248, 152, 7);
    height: 5px;
    width: 100%;
    border: 0ch;
    -webkit-animation-name: text;
    -webkit-animation-duration: 1.5s;
    animation-name: text;
    animation-duration: 1.5s;
  }

  .text a {
      text-decoration: none;
      color: black;
      padding: 5px;
      border: 1px solid rgb(248, 152, 7);
      background-color: rgb(248, 186, 115);
      border-radius: 5px;
  }

  .text a:hover {
    background-color: rgb(248, 152, 7);
    color: rgb(247, 255, 239);
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .mySlides img {
      height: 600px;
  }

  .poslovi {
    overflow: hidden;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-top: 10px solid rgb(248, 152, 7);
    border-bottom: 10px solid rgb(248, 152, 7);
  }

  .poslovi div {
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .poslovi img {
    position: relative;
    height: 350px;
    width: 100%;
}

.poslovi ul {
    list-style-position: inside;
}

.lijevo1 {
    position: relative;
    -webkit-animation-name: lijevo1;
    -webkit-animation-duration: 1.5s;
    animation-name: lijevo1;
    animation-duration: 1.5s;
}

.lijevo2 {
    position: relative;
    -webkit-animation-name: lijevo2;
    -webkit-animation-duration: 3.5s;
    animation-name: lijevo2;
    animation-duration: 3.5s;
}


.desno1 {
    position: relative;
    -webkit-animation-name: desno1;
    -webkit-animation-duration: 3.5s;
    animation-name: desno1;
    animation-duration: 3.5s;
}

.desno2 {
    position: relative;
    -webkit-animation-name: desno2;
    -webkit-animation-duration: 1.5s;
    animation-name: desno2;
    animation-duration: 1.5s;
}

.partneri {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.partneri-loga {
    display: flex;
    justify-content: space-around;
}
.partneri-loga img {
    height: 100px;
}

.klijenti {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.klijenti-loga {
    display: flex;
    justify-content: space-around;
}
.klijenti-loga img {
    height: 100px;
}

  footer {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(90deg, rgb(247, 255, 239) 0%, rgb(248, 186, 115) 35%, rgb(248, 152, 7) 50%);
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @-webkit-keyframes text {
    from {width: 10%} 
    to {width: 100%}
  }
  
  @keyframes text {
    from {width: 10%} 
    to {width: 100%}
  }

  @-webkit-keyframes naslov {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes naslov {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @-webkit-keyframes lijevo1 {
    0%   {right: 500px;}
    
    100% {right: 0px;}
  }
  
  @keyframes lijevo1 {
    0%   {right: 500px;}
    
    100% {right: 0px;}
  }

  @-webkit-keyframes desno1 {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes desno1 {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @-webkit-keyframes lijevo2 {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes lijevo2 {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @-webkit-keyframes desno2 {
    0%   {left: 500px;}
    
    100% {left: 0px;}
  }
  
  @keyframes desno2 {
    0%   {left: 500px;}
    
    100% {left: 0px;}
  }